@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(253, 255, 209);
}
header{
    padding: 10px;
    color: green;
    font-family: "Qwitcher Grypen", cursive;
    background:rgb(253, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    background:rgb(253, 255, 209);
    display: grid;
    padding-left: 90px;
    padding-right: 90px;
    grid-template-columns: 560px 560px;
    flex-direction: row;
    gap: 150px;
}
.natura{
    font-size: 50px;
    width: 420px;
    display: flex;
    color: green;
}
div{
    background: green;
    color: white;
    padding: 50px;
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
main img{
    height: 500px;
    width: auto;
    border-radius: 50px ;
}