@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(253, 255, 209);
}
header{
    padding: 30px;
    color: green;
    font-family: "Qwitcher Grypen", cursive;
    background:rgb(253, 255, 209);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    background:rgb(253, 255, 209);
    display: flex;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    flex-direction: row;
}

.logo{
    font-size: 60px;
    width: 420px;
    display: flex;
}
form h2{
    font-size: 36px;
    text-align: center;
    color:rgb(253, 255, 209);
    margin: 30px;
}
form input{
   border-radius: 20px;
   height: 5px;
   width: auto;
   display: flex;
   padding: 20px;
}
.login{
    background: green;
    border: 2px solid rgb(255, 255,255, .5);
    position: relative;
    width: 400px;
    height: 440px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vihod{
    margin: 30px;
    color: green;
    background: white;
    font-size: 15px;
    padding: 20px;
}
.vyhod:hover{
    background: rgb(196, 196, 196);
    color: aliceblue;
}
.photo{
    height: 10px;
    width: 10px;
}